# Notebook 4-  Data Reading & Writting in Pandas

<img src="https://raw.githubusercontent.com/fralfaro/DS-Cheat-Sheets/main/docs/examples/pandas/pandas.png" alt="numpy logo" width = "300">

In [ ]:
import pandas as pd  
import numpy as np

In [ ]:
df=pd.read_table("Data/data.txt")
df

In [ ]:
df2=pd.read_table("Data/data2.txt")
df2

## Using seperator

In [ ]:
df2=pd.read_table("Data/data2.txt", sep=",")
df2

In [ ]:
df=pd.read_table("Data/data2.txt", sep=",")
df

## Using headers

In [ ]:
df=pd.read_table("Data/data2.txt",
                 sep=",",
                 header=None)
df

In [ ]:
df=pd.read_table("Data/data2.txt",
                 sep=",",
                 header=None, 
                 names=["name","score","sex"])
df

## Using indexes

In [ ]:
df=pd.read_table("Data/data2.txt",
                 sep=",",header=None, 
                 names=["name","score","sex"],
                 index_col="name")
df

## more than 1 index

In [ ]:
df2=pd.read_table("Data/data3.txt",
                  sep=",")
df2

In [ ]:
df2=pd.read_table("Data/data3.txt",
                  sep=",",
                  index_col=["lesson","name"])
df2

## Read subset of data

In [ ]:
df3=pd.read_table("Data/data4.txt",sep=",")
df3

In [ ]:
df3=pd.read_table("Data/data4.txt",
                  sep=",", 
                  skiprows=[0,2])
df3

In [ ]:
df3=pd.read_table("Data/data4.txt",
                  sep=",", 
                  skiprows=[0,2],
                  usecols=[0,1])
df3

In [ ]:
df3=pd.read_table("Data/data4.txt",
                  sep=",", 
                  skiprows=[0,2],
                  usecols=[0,1],
                  nrows=3)
df3

## Writing Data

In [ ]:
df=pd.read_csv("Data/data.txt",sep="\t")
df

In [ ]:
df.to_csv("Data/new_data.csv")